####################################
# Python
####################################
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
**/__pycache__/

####################################
# Virtual Environments
####################################
.venv/
**/.venv/
env/
**/env/

####################################
# Secrets & Credentials
####################################
.env
.env.*
*.pem
*.key
*.crt
*.json

####################################
# Docker / Volumes / Runtime Data
####################################
data/
**/data/
**/*-data/
influxdb-data/
grafana-data/
mosquitto-data/
telegraf-data/

####################################
# OS / Editor / IDE
####################################
.DS_Store
.vscode/
.idea/
*.swp

####################################
# Misc
####################################
nohup.out
*.bak

