####################################
# Python
####################################
__pycache__/
*.pyc
*.pyo
*.pyd

####################################
# Logs
####################################
*.log

####################################
# Virtual Environments
####################################
.venv/
**/.venv/
env/
**/env/

####################################
# Secrets & Credentials
####################################
.env
.env.*
*.pem
*.key
*.crt

####################################
# Docker Volumes / Runtime Data
####################################
data/
**/data/
influxdb-data/
grafana-data/
mosquitto-data/
telegraf-data/

####################################
# Backups & Temp files
####################################
*.bak
nohup.out

####################################
# OS / IDE
####################################
.DS_Store
.vscode/
.idea/
*.swp
